.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  padding: 20px;
  background-color: #efefef;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0);
  text-align: center;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}
.subtotal > button {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}
.no-product {
  color: #f44336;
  margin-top: 10px;
  font-size: 14px;
}
.payment-types {
  margin-top: 10px;
}
.payment-types img {
  width: 50px;
  margin: 5px;
}
@media (max-width: 991px) {
  .subtotal {
    width: 80%;
    margin: 20px auto;
  }
}
